<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" content="width=device-width">
        <title> Covid Vaccine Tracker</title>
        <link href="styles/style.css" rel="stylesheet"> <!--reference the style sheet-->
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Covid Vaccine Tracker</h1> <!--big heading-->
        <h2 id="insertSm"></h2> <!--empty size 2 header container-->
        <p>Welcome to the Corona Virus Vaccine tracker site, a registry of recipients of Corona Virus vaccines. Please fill out the form below.</p>
        
        <h2>Blockchain Setup</h2>
        <button class="enableEthereumButton">Enable Ethereum</button> 
        <h2>Account: <span class="showAccount"></span></h2>
        
        <form id="SRForm" name="SRForm" method="post" onsubmit="return condensed_formsub();" action="/"> 
            <fieldset> <!--this adds a nice box around the form-->
                <legend>Vaccination self report form</legend> <!--the legend gives the box a title-->
                <label for="fname">Name:</label><br>
                <input type="text" id="fname" name="fname" placeholder="Enter Name"/><br>
                <label for="sname">Surname:</label><br>
                <input type="text" id="sname" name="sname" placeholder="Enter Surname"/><br>
                <label for="date">Date of vaccination:</label><br>
                <input type="date" id="date" name="date" min="2020-01-01" /><br> <!--a bit of error handling: set a min date-->
                <label for="Vaxadmin">Vaccine administered:</label><br>
                <select id="Vaxadmin" name="Vaxadmin">
                    <option selected value="">Select Vaccine</option>
                    <option value="AstraZeneca">AstraZeneca</option>
                    <option value="Johnson&Johnson">Johnson&Johnson</option>
                    <option value="Moderna">Moderna</option>
                    <option value="Pfizer-BioNTech">Pfizer-BioNTech</option>
                    <option value="Other">Other</option>
                </select> <br>
                <label for="pvax">Place of vaccination:</label><br>
                <input type="text" id="pvax" name="pvax" placeholder="Enter address"/><br><br>
                <input type="submit" value="Submit"/> <!--or use button for type, may get away with it-->
                </fieldset>
            </form>
            <br>


         <table style="width:100%" id="tbl">
                <thead>
                    <tr style="text-align: left;">
                    <th>Firstname</th>
                    <th>Surname</th>
                    <th>Vacinnation date</th>
                    <th>Vaccine</th>
                    <th>Place</th>
                    <th>Blockchain</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (const user of users) { %>
                        <tr>
                          <td><%= user.Name %></td>
                          <td><%= user.Surname %></td>
                          <td><%= user.date %></td>
                          <td><%= user.vaccine %></td>
                          <td><%= user.place %></td>
                          <td><a  href="javascript:void(0);" class="btn btn-xs btn-success blockchain addUserToBlockchainBtn"
                                data-fname="<%= user.Name %>"
                                data-lname="<%=user.Surname %>"
                                data-date="<%=user.date %>"
                                data-Vaxadmin="<%=user.vaccine %>"
                                data-pvax="<%=user.place %>">
                                Add to Blockchain</a> </td>
                        </tr>
                      <% } %>
                </tbody>
              </table>


    </body>
    <br>
    <!--<button id="clickbut">click me!</button>-->
    <br>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- jQuery from Google Content Delivery Network (CDN)-->
    <script src="https://cdn.ethers.io/scripts/ethers-v4.min.js" 
    charset="utf-8" type="text/javascript"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/blockchain.js"></script>
</html>
